@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	color: #000
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden

.img-responsive
	display: block
	max-width: 100%
	height: auto

.text-center
	text-align: center

::selection
	background-color: $accent
	color: #fff

//header
.header_top
	display: flex
	justify-content: space-between
	padding: 10px 0px
	border-bottom: 1px solid #edeff1
	margin-bottom: 10px
.header_top__item
	padding: 0
	margin: 0
	list-style: none
	display: flex
	a
		display: flex
		align-items: center
		margin-right: 15px
		text-decoration: none
		color: #000
		img
			margin-right: 7px
	&.social
		a
			margin-left: 15px
			margin-right: 0
			width: 25px
.header_bottom
	display: flex
	.header_bottom__user-help
		margin-left: auto
		display: flex
.header_bottom__menu
	ul
		display: flex
		padding: 0
		margin: 0 0 0 20px
		list-style: none
		li
			a
				margin-right: 15px
			&:last-child
				a
					margin-right: 0

@import "media" // Всегда в конце
