@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	color: #000
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	background: #f4f6f8
.img-responsive
	display: block
	max-width: 100%
	height: auto

.text-center
	text-align: center

::selection //за выделение текста
	background-color: $accent
	color: #fff
//header
.header_top
	display: flex
	justify-content: space-between
	padding: 10px 0px
	border-bottom: 1px solid #edeff1
	margin-bottom: 10px
.header_top__item
	padding: 0
	margin: 0
	list-style: none
	display: flex
	a
		display: flex
		align-items: center
		margin-right: 15px
		text-decoration: none
		color: #000
		img
			margin-right: 7px
	&.social
		a
			margin-left: 15px
			margin-right: 0
			width: 25px
.header_bottom
	display: flex
	.header_bottom__user-help
		margin-left: auto
		display: flex
.header_bottom__menu
	ul
		display: flex
		padding: 0
		margin: 0 0 0 20px
		list-style: none
		li
			a
				margin-right: 15px
			&:last-child
				a
					margin-right: 0
//footer
.footer_inner
	display: flex
	padding: 90px 0
	justify-content: space-between
.footer_item__payment
	h4
		color: $color
		font-weight: 600
.footer_item__info
	display: flex
	justify-content: space-between
	width: 40%
	a
		text-decoration: none
		color: #0f0f0f
		&:hover
			color: $color
	ul
		padding: 0
		margin: 0 30px
.footer_item__logo
	width: 25%
	p
		margin-top: 20px
		font-size: 13px
//feautured
.featured__item_on-hover
	display: none
div.featured__item_default
	div
		img
			margin: 0 auto
			width: 60%
.product-name
	text-align: center
	font-weight: 600
	color: #34404b
	margin: 20px 0
.product-cost
	text-align: center
	color: #ff5912
	margin: 20px 0 10px
.featured__item
	height: 340px
	background-color: #fff
	padding: 15px
	display: flex
	align-items: center
	justify-content: center
	&:hover
		.featured__item_default
			display: none
		.featured__item_on-hover
			display: block
.featured__item_on-hover
	img
		width: 30%
		margin: 0 auto 15px
		display: block
	.product-name
		color: #ff5912
.sizes
	text-align: center
.color-item
	display: flex
	align-items: center
	justify-content: center
	div
		margin: 0 5px
		input
			display: none
			&:checked
				& ~ label
					box-shadow: 0 0 5px
		label
			width: 15px
			height: 15px
			border-radius: 50%
			background: green
			cursor: pointer
		&:nth-child(2)
			label
				background: red
		&:nth-child(3)
			label
				background: yellow
		&:nth-child(4)
			label
				background: blue
.buttons
	display: flex
	justify-content: space-around
	button
		border: none
		background: #ffffff
		outline: none
		&:hover
			color: #ff5912

@import "media" // Всегда в конце
